body,
html {
	background: #757F9A;
	font-family:
		'Open Sans',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

.navigation {
	background: #f8f8f8;
	margin-bottom: 64px;
}




.btn-container{
	display: flex;
	justify-content: center;
	align-items: center;
}


.home-footer{
	/* -webkit-box-shadow: 0px -10px 25px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px -10px 25px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -10px 25px 1px rgba(0, 0, 0, 0.75); */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* padding: 30px; */

}

/* Styles for footer */
/*  */
@media(max-width:600px) {
	.navigation {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}