a.back-btn {
	margin-left: auto;
	background: lightblue;
	padding: 10px 25px;
	color: black;
}

@media(max-width: 600px) {
	.navigation {
		flex-direction: column;
	}

	.button-bar {
		flex-direction: column;
	}
}

.btn {
	margin-bottom: 4px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.jumbotron {
	padding: 10px 10px;
	margin-right: auto;
	margin-left: auto;
	width: 100vw;
}

@media (min-width: 576px) {
	.jumbotron {
		padding: 2px 2px;
	}
}

a.back-btn {
	margin-left: auto;
	background: lightblue;
	padding: 1px 15px;
	color: black;
	border-radius: 5px;
}

.view-button-bar-container {
	bottom: 0;
	background: white;
}

.navbar {
	justify-content: left;
}

.button-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	/* padding: 30px 10px; */
	border-radius: 5px;
}

@media(max-width: 600px) {
	.button {
		width: 50rem;
		text-align: center;


	}

	.navigation {
		justify-content: cent;
		flex-direction: column;
	}
}