
 /* Dropdown */

.dropdown li {
	list-style-type: none;
	cursor: pointer;
}

.childtext {
	cursor: pointer;
	transition: all ease 300ms;
}
.item-menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 300px;
	background: #03A9F4;
	color: black;
	font-weight: bold;
	padding: 10px 30px;
	margin: 5px;
	border-radius: 10px;
}
.subitem-menu{
	background: #03A9F5;
	color: green;
	display: flex;
	flex-direction: row;
	justify-content: center
	align-items: center;
}
a{
	color: white;
	text-decoration: none;
	margin-left: 10px;
}
.dropdownTitle {
	margin-bottom: 10px;
}
button {
	-webkit-appearance: none;
	text-rendering: auto;
	color: black;
	font-family: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	background-color: transparent;
	box-sizing: border-box;
	margin: 0em;
	padding: 1px 6px;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-left: 6px;
	border-width: 2px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-style: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-color: none;
	border-top-color: none;
	border-right-color: none;
	border-bottom-color: none;
	border-left-color: none;
	border-image: initial;
}


button.back-btn {
	padding: 3px 15px 3px 15px;
	background: lightblue;
	border-radius: 5px;
	margin-left: 5px;
}
