body {
	display: grid;
	grid-template-columns: 0.5fr 3fr 0.5fr;
	grid-template-rows: 0.3fr 5fr 0.3fr;
	grid-row-gap: 2vh;
	grid-template-areas:
		"header header header"
		". main ."
		"footer footer footer";
	background: #337ab7;
}
header#header {
	grid-area: header;
}
header#header>nav#header-navbar{
	background: white;
	height: 100%;
}
main#main {
	grid-area: main;
}
footer#footer {
	grid-area: footer;
	height: 100%;
}
footer#footer>nav#footer-navbar{
	background: white;
	height: 100%;
}


