.wdr-cell,
.wdr-header,
.wdr-header-r,
.wdr-level-0,
.wdr-h-sort {
	width: 70px;
}

.back-btn {
	padding: 3px 15px 3px 15px;
	background: lightblue;
	border-radius: 5px;
	margin-left: 5px;
}

.pivote-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin: 5px auto;
}

.button-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-inline-start: 0px;
	margin-bottom: 0px;
}

.btn {
	font-size: 12.5px;
}
.button-bar-container {
	width: 100%;

}
.btn-success{
	background: lightblue;
	color: black;
	border: none;
}

.btn-success:hover {
	background: lightskyblue;
	color: black;
	border: none;
}
.btn-primary{
	background: #03A9F4;
}
div.pivote-container>div#wdr-component {
	display: block;

}

@media(max-width: 745px) {
	.button-bar {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-inline-start: 0;
	}
	body{
		min-height: 100%;
	}
	.btn {
		width: 100%;
		margin: 5px auto;
	}
	#lastbtn{
		margin-bottom: 20px;
	}
}