body{
	grid-template-rows: 0.1fr 5fr 0.1fr;
}
div#datetime-grid-container {
    display: grid;
    grid-template-areas: "datetime-header" "datetime-body";
    grid-row-gap: 1vw;
    width: 50vw;
    padding: 2vw 0;

}

div#datetime-grid-body {
    grid-area: datetime-body;
    display: flex;
    justify-content: space-evenly;
}

div#datetime-grid-header {
    grid-area: datetime-header;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.1em;
}

div.datetime-grid-item {
    width: 10vw;
    text-align: center;

}

div.analysis-section {
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
    padding: 3vmin 5vmin;
    width: 100%;
}

hr {
    width: 100%;
}

.title {
    font-size: medium;
    font-weight: bolder;
}

li {
    list-style-type: none;
	margin-bottom: 1vmin;
}


@media (max-width: 940px) {
    div#datetime-grid-container {
        grid-template-areas: "datetime-header datetime-body";
		width: 50vw;
		padding: 0;
    }

    div#datetime-grid-body {
        flex-direction: column;
		width: 10vw;
		font-size: 1em;
    }

    div#datetime-grid-header {
        flex-direction: column;
		width: 10vw;
		font-size: 1em;
    }
	div.datetime-grid-item{
		width: 20vw;
		margin-bottom: 1vh;
	}
}
@media (max-width: 500px) {
    div#datetime-grid-container {
        grid-template-areas: "datetime-header datetime-body";
		width: 50vw;
		padding: 0;
    }

    div#datetime-grid-body {
        flex-direction: column;
		width: 10vw;
		font-size: 0.6em;
    }

    div#datetime-grid-header {
        flex-direction: column;
		width: 10vw;
		font-size: 0.6em;
    }
	div.datetime-grid-item{
		width: 20vw;
		margin-bottom: 1vh;
	}
}