<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="../../form-result.php" method="post" target="_blank">

  <p>

    Número contactado: <input type="tel" name="numerocontactado" list="listatelefonos">

    <input type="submit" value="Enviar datos">

  </p>

</form>

<datalist id="listatelefonos">

  <option value="(154) 215-4468">

  <option value="(154) 254-7863">

  <option value="(146) 123-7821">

  <option value="(112) 645-4565">

</datalist>

<p>

    Teléfono: <input type="tel" name="telefono" placeholder="Ejemplo: 5492473466799">
</body>
</html>