<html>

   <head>

     <meta charset="UTF-8">

      <script type = "text/javascript">


      // ejecutar javascript

         href = "{{ url_for('static', filename = 'hello.js') }}" >

      function sayHello2() { alert('hola') }

      </script>

       <style>
                table, th, td {
                  border: 2px solid black;
                  border-collapse: collapse;
                }
                th, td {
                  padding: 5px;
                  text-align: left;
                }
        </style>


   </head>

   <body>
      <h1>Título Pad2_</h1>


      <table>

         <tr>
                <div style="display: none">
                      <a href="http://167.86.94.15:5000/"> / </a>
                      </br>
                      <a href="http://167.86.94.15:5000/student"> student  </a>
                      </br>
                      <a href="http://167.86.94.15:5000/result2"> result2 </a>
                      </br>
                      <a href="http://167.86.94.15:5000/user/Alejandro Sartorio"> user/Alejandro Sartorio </a>
                      </br>
                      <a href="http://167.86.94.15:5000/post/123456789"> post/123456789 </a>
                      </br>
                      <a href="http://167.86.94.15:5000/result"> result </a>
                      </br>
                      <a href="http://167.86.94.15:5000/index3">  index3 </a>
                      </br>

                      <a href="http://167.86.94.15:5000/todos">  Todos </a>
                      </br>

                       <a href="http://167.86.94.15:5000/todos/valor">  todos/valor </a>
                      </br>
                </div>

         </tr>

      </table>


        <table>

           <tr>

      <a href="http://167.86.94.15:5000/pad/contactosAiniciar/">  Iniciar los chat pendientes </a>
            </tr>
           </br>


           <tr>

              <a href="http://167.86.94.15:5000/pad/getContactos/"> Listar estado de los nros  </a>

           </tr>

              </br>

             </br>


        <div>

            <h1> Menú para PAD2</h1>
        <table style="width:100%">




            <tr><td><a href="http://167.86.94.15:5000/analizador"> Analizador</a></br>
            </td></tr>

            <!-- http://127.0.0.1:5000/ -->

            <tr>
              <td><a href="http://127.0.0.1:5000/analizador"> Localhost | Juan</a></br>
              </td>
            </tr>

            <tr><td><a href="http://167.89.94.15:5000/pad/luis_api/3005:hola"> Api para hacer preguntas a luis 3005 idProyecto - hola Pregunto</a></br>
            </td></tr>


            <tr><td><a href="http://167.86.94.15:5000/luis_init"> Probar la inteligencia artificial </a></br>
            </td></tr>

             <tr><td><a href="http://167.86.94.15:5000/abmsonda1/"> ABM Sonda </a></br>
              </td></tr>

             <tr><td><a href="http://167.86.94.15:5000/getqr"> QR - Mostrar qr actul</a> </br>
              </td></tr>


                <tr><td><a href="http://167.86.94.15:5000/pad/store/key1"> http://167.86.94.15:5000/pad/store/key1</a> </br>
              </td></tr>

             <tr><td><a href="http://167.86.94.15:5000/wa/"> Agregar-Modificar ESTADOS de los CONTACTOS. -- Permite sacar y poner contactos on the fly</a> </br>
              </td></tr>

                <tr><td><a href="http://167.86.94.15:5000/lanzamiento/"> Lanzamiento de Experiencias </a> </br>
              </td></tr>

              <tr><td><a href="http://167.86.94.15:5000/pad/sonda/"> Ver datos de la sonda. Utilizado para lanzar experiencias </a> </br>
              </td></tr>

             <tr><td><a href=""> Api para setear la SONDA (json_sonda) - /pad/setsonda/key:valor </a> </br>
              </td></tr>



             <tr><td><a href="http://167.86.94.15:5000/List_nroEstados"> Listar estado de los nros - Página </a> </br>
              </td></tr>

                <tr><td><a href="http://167.86.94.15:5000/pad/getContacto/11"> Lista los valores del nro <11> </a> </br>
                 </td></tr>

                <tr><td><a href="http://167.86.94.15:5000/pad/initChat/"> Devuelve los nro iniciar y le cambia el estado </a> </br>
              </td></tr>

                <tr><td><a href="http://167.86.94.15:5000/pad/dropContactos2/'" > Vaciar Contactos2  </a>

                    <!--
                    <input type="text" name="passtodrop">

                    <input type="button" name="btdrop" onclick="funbtdrop" value="Borrar">

                    -->

                    </br>
                </td></tr>



            </table>



      </table>

      </div>

   </body>



</html>
