{% extends "pivote-layout.html" %}
<!-- Encabezado + Título -->
{% block title %}Identificador de lenguaje - {% endblock %}


<!-- Head -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/language.css') }}">
    <!-- static\ -->
{% endblock %}

<!-- NAV -->
{% block nav %}
    {{ super() }}

{% endblock %}

{% block content %}
    {{ super() }}
    <div class="jumbotron">
        <figure>
            <img src="{{ url_for('static', filename = bandera) }}" alt="{{ idioma }}">
            <hr>
            <figcaption>
                <h4>Idioma: {{ idioma }}</h4>
            </figcaption>
        </figure>
    </div>
    
{% endblock %}


<!-- Footer -->
{% block footer %}
    {{ super() }}
{% endblock %}