<html>
   <body>

   <div>
   <a href="http://167.86.94.15:5000/"> Volver al menu </a>
   </div>


      <form action = "http://167.86.94.15:5000/lanzamiento_init" method = "POST">
         <p>1. Ingrese el nombre del archivo que contiene los contactos : <input type = "text" name = "nombre_contacto" /></p>

          <p>2. Ingresar Nro de conversación: <input type = "text" name = "idProyecto" /></p>

          <p>3. Ingrese categoría de los contactos: <input type = "text" name = "categorias" placeholder="none" /></p>

          <p>4. Nombre asignado al arch log : <input type = "text" name = "nombre_prueba" placeholder="none" /></p>


         <p>5. Seleccionar acción:</p>

          <select name="accion">
            <option value="start_experience"> Comienza a ejecutar la experiencia. </option>
            <option value="finish_experience"> Finaliza la experiencia en ejecución. </option>
            <option value="pause_experience"> Pausar la experiencia en ejecución. </option>
        </select>

          <br><br>


         <p><input type = "submit" value = "Aplicar" /></p>
      </form>

   </body>
</html>