<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Listado de nros cargados y sus estados:</title>
</head>

   <body>


   <div class="container">

      <table border = 0 class="table">
         <thead>

         <tr>

         <th>Nro</th>

         <th>Estado</th>

         </tr>

         </thead>

          <!--
         <a>{{result}}</a>
         -->


          {% for r in result %}

          {% if result[r] == 'iniciado' %}

          <!--
          class = "warning"
          class = "info"
          class = "success"
          class = "danger"
          class = "active"
          -->

            <tr class="active">

               <td>{{r}}</td>
               <td>{{result[r]}}</td>

            </tr>

          {% else %}

          <tr class="warning">

               <td>{{r}}</td>
               <td>{{result[r]}}</td>
               <td>

                   <input type="button" value="Desactivar" name={{r}}>

               </td>
        </tr>


          {%endif%}


          {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>

   </body>

</div>


</html>