{% extends "pivote-layout.html" %}
<!-- Encabezado + Título -->
{% block title %}Output - {% endblock %}
{% block head %}
{{ super() }}
<link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
<script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>
<script type="text/javascript">
	function setHeight(value) {
		let obj = document.getElementById('wdr-component');
		if (obj.style.height == "800px") {
			obj.style.height = "500px"
		} else {
			obj.style.height = "800px"
		}
	}
	window.onload = setHeight();
</script>
<link rel="stylesheet" type="text/css"
	href="{{ url_for('static', filename='theme/lightblue/webdatarocks.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
{% endblock %}
{% block nav %}
{{ super() }}
<form action="/analisis-conversaciones" method="POST" id="json">
	<input type="hidden" name="json" id=" json" value="{{json}}">
	<button class="back-btn" type="submit">Analizar los resultados</button>
</form>
<div class="back-btn" cursor="pointer" onclick="setHeight()">↓ | ↑</div>
<a class="back-btn" href="/analizador" title="Volver a los filtros"><img
		src="{{ url_for('static', filename='img/left-arrow-key.png') }}" alt="Back to filters" width="20px"></a>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid pivote-container" onload="setHeight()">
	<div id="wdr-component"></div>
</div>
<style>
	.wdr-cell,
	.wdr-header,
	.wdr-header-r,
	.wdr-level-0,
	.wdr-h-sort {
		width: 70px;
	}
</style>
<script>
	let selectedJson = {{json | safe}}
	let modo = {{modo}}
	let objReporte = {};
	switch (modo) {
		case 1:
			objReporte = {
				slice: {
					"columns": [{
							"uniqueName": "numtelefono"
						},
						{
							"uniqueName": "pregunta"
						},
						{
							"uniqueName": "respuesta"
						},
						{
							"uniqueName": "experiencia"
						},
						{
							"uniqueName": "empresa"
						},
						{
							"uniqueName": "fecha"
						},
						{
							"uniqueName": "hora"
						}
					],
					"rows": [{
						"uniqueName": "Measures"
					}]

				},
				"grid": {
					"type": "flat"
				}
			};
			break;
		case 3:
			objReporte = {
				"slice": {
					"columns": [{
							"uniqueName": "pregunta"
						},
						{
							"uniqueName": "respuesta"
						},
					],
					"rows": [{
						"uniqueName": "Measures"
					}]
				},
				"grid": {
					"type": "flat"
				}
			};
			break;
		case 4:
			objReporte = {
				"slice": {
					"columns": [{
							"uniqueName": "respuesta"
						},
						{
							"uniqueName": "numtelefono"
						},
					],
					"rows": [{
						"uniqueName": "Measures"
					}]

				},
				"grid": {
					"type": "flat"
				}
			};
			break;
		case 5: //Totalizador de respuestas
			objReporte = {
				"slice": {
					"rows": [{
						"uniqueName": "respuesta"
					}],
					"columns": [{
						"uniqueName": "Measures",
					}],
					"measures": [{
						"uniqueName": "respuesta",
						"aggregation": "sum"
					}]
				},
				"grid": {
					"type": "compact",
					"showTotals": "columns"
				}
			};
			break;
		case 6: // numtelefonos y sus respuestas
			objReporte = {
				"slice": {
					"rows": [{
						"uniqueName": "numtelefono"
					}],
					"columns": [{
						"uniqueName": "respuesta",
					}],
					"measures": [{
						"uniqueName": "respuesta",
						"aggregation": "sum"
					}]
				},
				"grid": {
					"type": "compact",
					"showTotals": "columns"
				}
			};
			break;
		case 8:
			objReporte = {
				"slice": {
					"rows": [{
						"uniqueName": "pregunta"
					}],
					"columns": [{
						"uniqueName": "respuesta",
					}],
					"measures": [{
						"uniqueName": "respuesta",
						"aggregation": "sum"
					}]
				},
				"grid": {
					"type": "classic",
					"showTotals": "columns"
				}
			};

			break;
		default: //Si vienen modos no especificados muestra la tabla plana expandida
			objReporte = {
				"slice": {
					"columns": [{
							"uniqueName": "numtelefono"
						},
						{
							"uniqueName": "pregunta"
						},
						{
							"uniqueName": "respuesta"
						},
						{
							"uniqueName": "fecha"
						},
						{
							"uniqueName": "hora"
						},
						{
							"uniqueName": "experiencia"
						},
						{
							"uniqueName": "empresa"
						}
					],
					"rows": [{
						"uniqueName": "Measures"
					}]

				},
				"grid": {
					"type": "flat"
				},

			};
			break;
	}

	let pivote = new WebDataRocks({
		container: "#wdr-component",
		toolbar: true,
		report: {
			dataSource: {
				data: selectedJson
			},
			slice: objReporte.slice,
			grid: objReporte.grid
		},
		global: {
			localization: "https://cdn.webdatarocks.com/loc/es.json"
		}
	});

	//  - - - BUTTON BAR - - - BUTTON BAR- - - BUTTON BAR- - - BUTTON BAR- - - BUTTON BAR- - - BUTTON BAR- - - BUTTON BAR- - - BUTTON BAR- - - BUTTON BAR- - - BUTTON BAR- - - BUTTON BAR

	function cambiarReporte(value) {
		reporte = {};
		switch (value) {
			case 1:
				reporte = {
					dataSource: {
						data: selectedJson
					},
					slice: {
						"columns": [{
								"uniqueName": "numtelefono"
							},
							{
								"uniqueName": "pregunta"
							},
							{
								"uniqueName": "respuesta"
							},
							{
								"uniqueName": "experiencia"
							},
							{
								"uniqueName": "empresa"
							},
							{
								"uniqueName": "fecha"
							},
							{
								"uniqueName": "hora"
							}
						],
						"rows": [{
							"uniqueName": "Measures"
						}]
					},
					grid: {
						"type": "flat"
					}
				};
				pivote.setReport(reporte);
				break;
			case 3:
				reporte = {
					dataSource: {
						data: selectedJson
					},
					//Acá se especifica el formato con el que se muestra la tabla
					slice: {
						"columns": [{
								"uniqueName": "pregunta"
							},
							{
								"uniqueName": "respuesta"
							},
						],
						"rows": [{
							"uniqueName": "Measures"
						}]

					},
					grid: {
						"type": "flat"
					}
				};
				pivote.setReport(reporte);
				break;
			case 4:
				reporte = {
					dataSource: {
						data: selectedJson
					},
					slice: {
						"columns": [{
								"uniqueName": "respuesta"
							},
							{
								"uniqueName": "numtelefono"
							}
						],
						"rows": [{
							"uniqueName": "Measures"
						}]

					},
					grid: {
						"type": "flat"
					}
				};
				pivote.setReport(reporte);
				break;
			case 5: //Totalizador de respuestas
				reporte = {
					dataSource: {
						data: selectedJson
					},
					slice: {

						"rows": [{
							"uniqueName": "respuesta"
						}],
						"columns": [{
							"uniqueName": "Measures",
						}],
						"measures": [{
							"uniqueName": "respuesta",
							"aggregation": "sum"
						}]

					},
					grid: {
						"type": "compact",
						"showTotals": "columns"
					}
				};
				pivote.setReport(reporte);
				break;
			case 6:
				reporte = {
					dataSource: {
						data: selectedJson
					},
					slice: {
						"rows": [{
							"uniqueName": "numtelefono"
						}],
						"columns": [{
							"uniqueName": "respuesta",
						}],
						"measures": [{
							"uniqueName": "respuesta",
							"aggregation": "sum"
						}]
					},
					grid: {
						"type": "compact",
						"showTotals": "columns"
					}
				};
				pivote.setReport(reporte);
				break;
			case 8:
				reporte = {
					dataSource: {
						data: selectedJson
					},
					slice: {
						"rows": [{
							"uniqueName": "pregunta"
						}],
						"columns": [{
							"uniqueName": "respuesta",
						}],
						"measures": [{
							"uniqueName": "respuesta",
							"aggregation": "sum"
						}]
					},
					grid: {
						"type": "compact",
						"showTotals": "columns"
					}
				};
				pivote.setReport(reporte);
				break;
			default:
				break;
		}
	}
</script>
{% endblock %}
<!-- Footer -->
{% block footer %}
{{ super() }}
<div class="button-bar-container">
	<ul class="button-bar">

		<li title="Plano" class="btn btn-primary" onclick="cambiarReporte(1)">Plana</li>
		<li title="Preguntas y respuestas" class="btn btn-primary" onclick="cambiarReporte(3)">Preg.-Resp.</li>
		<li title="Respuestas y contactos" class="btn btn-primary" onclick="cambiarReporte(4)">Resp.-Cont.</li>
		<li title="Totalizador de respuestas" class="btn btn-success" onclick="cambiarReporte(5)">Total. Resp.</li>
		<li title="Totalizador de respuestas por contacto" class="btn btn-success" onclick="cambiarReporte(6)">Total.
			Resp.-Cont.</li>
		<li title="Totalizador de preguntas y sus respuestas" class="btn btn-success" id="lastbtn"
			onclick="cambiarReporte(8)">Total. Preg.-Resp.</li>

	</ul>
</div>
{% endblock %}