<!-- NUEVO SITIO -->

{% extends "pivote-layout.html" %}

<!-- Encabezado + Título -->

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

<!-- Navegación -->
{% block nav %}
{{ super() }}
{% endblock %}

<!-- Contenido -->
{% block content %}
<div class="container jumbotron">
	<div class="title">
		<h1>Tabla pivote para visualización de datos</h1>
		<p class="lead">Una tabla pivote es una herramienta que permite desplegar datos en formato de hoja de cálculo,
			con
			funcionalidades extra.</p>
		<hr class="my-4">
	</div>

	<form class="shadow-sm filters" action="/pad/analizador222/" method="GET">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="empresa">Empresa</label>
				<input type="text" class="form-control" id="empresa" placeholder="Nombre de la empresa"
					autocomplete="off" name="empresa">
			</div>
			<div class="form-group col-md-6">
				<label for="experiencia">Experiencia</label>
				<input type="text" class="form-control" id="experiencia" placeholder="Nombre de la experiencia"
					autocomplete="off" name="experiencia">
			</div>
		</div>
		<div class="form-group">
			<label for="num-telefono">Telefono</label>
			<input type="text" class="form-control" id="num-telefono" placeholder="+54 ..." autocomplete="off"
				name="num-telefono">
		</div>
		<div class="form-group">
			<label for="pregunta">Pregunta</label>
			<input type="text" class="form-control" id="pregunta" placeholder="¡Hola!..." autocomplete="off"
				name="pregunta">
		</div>
		<div class="form-group">
			<label for="respuesta">Respuesta</label>
			<input type="text" class="form-control" id="respuesta" placeholder="Si, Dale, ¡Ok!" autocomplete="off"
				name="respuesta">
		</div>

		<div class="form-row desde">
			<div class="form-group col-md-8">
				<label for="fechadesde">Fecha inicial</label>
				<input type="date" class="form-control" id="fechadesde" autocomplete="off" name="fechadesde">
			</div>
			<div class="form-group col-md-4">
				<label for="horadesde">Hora inicial</label>
				<input type="time" class="form-control" id="horadesde" autocomplete="off" name="horadesde">
			</div>
		</div>

		<div class="form-row hasta">
			<div class="form-group col-md-8">
				<label for="fechahasta">Fecha final</label>
				<input type="date" class="form-control" id="fechahasta" autocomplete="off" name="fechahasta">
			</div>
			<div class="form-group col-md-4">
				<label for="horahasta">Hora final</label>
				<input type="time" class="form-control" id="horahasta" autocomplete="off" name="horahasta">
			</div>
		</div>

		<!-- Fechas-->
		<button type="submit" class="btn btnFiltrar" value="Filtrar">Filtrar</button>
	</form>

</div>
{% endblock %}