<!-- NUEVO SITIO -->

{% extends "pivote-layout.html" %}

<!-- Encabezado + Título -->

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

<!-- Navegación -->
{% block nav %}
    {{ super() }}
{% endblock %}

<!-- Contenido -->
{% block content %}
    {{ super() }}
    <div class="jumbotron">
        <header id="header-title">
            <h5>🔎 Filtros 🔍</h5>
        </header>

        <form id="filters" class="shadow-sm" action="/pad/analizador222/" method="GET">

            <div class="filter-row">
                <label for="empresa">Empresa</label>
                <input type="text" class="form-control" id="empresa" placeholder="Nombre de la empresa"
                       autocomplete="off"
                       name="empresa">
            </div>
            <div class="filter-row"><label for="experiencia">Experiencia</label>
                <input type="text" class="form-control" id="experiencia" placeholder="Nombre de la experiencia"
                       autocomplete="off"
                       name="experiencia"></div>
            <div class="filter-row">
                <label for="num-telefono">Telefono</label>
                <input type="text" class="form-control" id="num-telefono" placeholder="+54 ..." autocomplete="off"
                       name="num-telefono">
            </div>
            <div class="filter-row">
                <label for="pregunta">Pregunta</label>
                <input type="text" class="form-control" id="pregunta" placeholder="¡Hola!..." autocomplete="off"
                       name="pregunta">
            </div>
            <div class="filter-row">
                <label for="respuesta">Respuesta</label>
                <input type="text" class="form-control" id="respuesta" placeholder="Si, Dale, ¡Ok!" autocomplete="off"
                       name="respuesta">
            </div>
            <div class="filter-row"><label for="fechadesde">Fecha inicial</label>
                <input type="date" class="form-control" id="fechadesde" autocomplete="off" name="fechadesde"></div>
            <div class="filter-row">
                <label for="horadesde">Hora inicial</label>
                <input type="time" class="form-control" id="horadesde" autocomplete="off" name="horadesde">
            </div>
            <div class="filter-row"><label for="fechahasta">Fecha final</label>
                <input type="date" class="form-control" id="fechahasta" autocomplete="off" name="fechahasta"></div>
            <div class="filter-row">
                <label for="horahasta">Hora final</label>
                <input type="time" class="form-control" id="horahasta" autocomplete="off" name="horahasta">
            </div>
            <button id="btnFiltrar" type="submit" class="btn btn-info" value="Filtrar">Filtrar</button>
        </form>
    </div>
{% endblock %}