{% extends "pivote-table-layout.html" %}
<!-- Encabezado + Título -->
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pivote-table-main.css') }}">
{% endblock %}
<!-- Navegación -->

{% block nav %}
{{ super() }}
{% endblock %}
<!-- Contenido -->
{% block content %}
<h1>Tabla pivote para visualización de datos</h1>
<p class="lead">Una tabla pivote es una herramienta que permite desplegar datos en formato de hoja de cálculo, con funcionalidades extra.</p>
<hr class="my-4">
<div class="filters jumbotron">
	
	<form action="/pad/analizador222/" class="data-filter-form" method="GET">
		<h4 class="filter-title">Filtro de datos de experiencias</h4>
		<hr class="my-4">
		<div class="data-filter-fields">	
		<div class="form-row">
			<label for="empresa" class="field-label">Empresa:</label>
			<input type="text" autocomplete="off" name="empresa" class="input-box" id="empresa">
		</div>
		<div class="form-row">
			<label for="experiencia" class="field-label">Experiencia:</label>
			<input type="text" autocomplete="off" name="experiencia"class="input-box" id="experiencia">
		</div>
		<div class="form-row">
			<label for="num-telefono" class="field-label">Número telefónico:</label>
			<input type="text" autocomplete="off" name="num-telefono" class="input-box" id="num-telefono">
		</div>
		<div class="form-row">
			<label for="pregunta" class="field-label">Pregunta:</label>
			<input type="text" autocomplete="off" name="pregunta" class="input-box" id="pregunta">
		</div>
		<div class="form-row">
			<label for="respuesta" class="field-label">Respuesta:</label>
			<input type="text" autocomplete="off" name="respuesta" class="input-box" id="respuesta">
		</div>
		<div class="form-row">
			<label for="timestamp" class="field-label">Timestamp:</label>
			<input type="text" autocomplete="off" name="timestamp"class="input-box" id="timestamp">
		</div>
		</div>
	<input type="submit" value="Filtrar" class="btn-info">
	

</form>
</div>
{% endblock %}
<!-- Footer -->
{% block footer %}
{{ super() }}
{% endblock %}