<html>


<script language="JavaScript">


var APIURL = "http://167.86.94.15:5000/";


document.getElementById("tohome").href = APIURL;

document.formulario.action= APIURL + "putsonda11";

function getapi(url) {

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           // Typical action to be performed when the document is ready:
            var response = xhttp.responseText;
            console.log("ok"+response);
        }
    };
    xhttp.open("GET", url, true);

    xhttp.send();


   }


function setapi(url_comando,datos) {

   var url = APIURL + url_comando;

   var xhr = new XMLHttpRequest();
    xhr.open("PUT", url, true);
    xhr.setRequestHeader('Content-type','application; charset=utf-8');
    xhr.onload = function () {
	    var users = JSON.parse(xhr.responseText);
        if (xhr.readyState == 4 && xhr.status == "201") {
		    console.table(users);
        } else {
		    console.error(users);
        }
   };
    xhr.send(datos);
   }


   </script>




   <body>

   <div>
   <a href="#" id="tohome"> Volver al menu </a>
   </div>



      <form action = "http://167.86.94.15:5000/putsonda11" method = "POST">
         <p>1. Ingresar palabra clave : <input type = "text" name = "key" /></p>
          <p>2. Ingresar valor        : <input type = "text" name = "valor" /></p>

          <p><input type = "submit" value = "Guardar" /></p>

          <br><br>


          <div style="position:absolute; top:10; left:500; background-color: #EFFBFB">

              <h3> Listar los datos de las sonda </h3>

          {% for i in result %}

          <b> {{i}} : </b>

              <a> {{result[i]}} </a>


      </br>

          {% endfor%}

</div>


      </form>

   </body>

  <br>  <br>  <br>


    <div style="position:absolute; left:10; background-color: #A4A4A4">
<br>

       <input type="button" onclick="setapi('putsonda11','vinit_mode:getqr_experience')" value="1. Pedir QR">
       <input type="button" onclick="setapi('putsonda11','vinit_mode:start_experience')" value="2. Iniciar experiencia">
       <br> <br>
       <input type="button" onclick="setapi('putsonda11','vinit_mode:finish_experience')" value="2.1. Finalizar experiencia ">
       <input type="button" onclick="setapi('putsonda11','vinit_mode:close_experience')" value="1.2.  Cambiar cuenta WA">
       <br> <br>
       <input type="button" onclick="setapi('putsonda11','vinit_mode:pause_experience')" value="2.2. Pausar experience">
       <input type="button" onclick="setapi('putsonda11','vinit_mode:continue_experience')" value="2.3. Retomar experience">
<br>
   </div>



<script language="JavaScript">



document.getElementById("tohome").href = APIURL;

document.formulario.action= APIURL + "putsonda11"


</script>

</html>