<html>
   <body>

   <div>
   <a href="http://167.86.94.15:5000/"> Volver al menu </a>
   </div>


      <form action = "http://167.86.94.15:5000/wa_iniciar" method = "POST">
         <p>Name: <input type = "text" name = "nombre" /></p>

         <p>Seleccione Tema (Tópicos):</p>

          <select name="tema">
            <option value="Iniciar">Iniciar</option>
            <option value="Retomar">Retomar</option>
            <option value="Suspender">Suspender</option>
            <option value="Alarma">Alarma</option>
        </select>

          <br><br>

         <p>Nro de WhatsApp:  <input type = "tel" name = "nro" placeholder="Ejemplo: 5492473466799" /></p>
          <br>

          <p>Comentario:  <input type = "tel" name = "comentario" placeholder="Escriba cualquier comentario" /></p>


         <p><input type = "submit" value = "submit" /></p>
      </form>

   </body>
</html>