<!-- NUEVO SITIO -->

{% extends "pivote-layout.html" %}

<!-- Encabezado + Título -->

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wordcloud.css') }}">
<script>
let arrayDePalabras = {{words}};
let newarr = [];
arrayDePalabras.forEach(x => {
	if(estaEnElOtro(newarr,x)){
		newarr.push(x);
	}else{
		console.log("Python is better than this");
	}
});
alert(newarr);
function estaEnElOtro(arraycito, palabrita){
	arraycito.forEach(y => {
		return y === palabrita;
	});
}
</script>
{% endblock %}

<!-- Navegación -->
{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="jumbotron">
	<h5>Nube de palabras generada</h5>
	<hr>
	<img src="{{ url_for('static', filename=img_path) }}" alt="wordcloud" id="wordcloud">
	<div id="palabras-usadas">
		<h6 style="margin-top: 30px;">Palabras utilizadas:</h6>
		<ul id="words-container">
		{% for element in words %}<li>{{element}}</li>{% endfor %}
		</ul>
	</div>
</div>
	
{% endblock %}
<!-- Footer -->
{% block footer %}
{{ super() }}
{% endblock %}